html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: athelas, georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.container {
  max-width: 750px;
}

.input,
.select,
.textarea {
  background-color: #fff;
}

.select-skinny {
  height: 2rem;
}

.bg-light {
  background-color: #f8f8f8;
}

.result {
  border-left: 8px solid #f8f8f8;
}

.skeleton-line {
  background: rgba(206, 217, 224, 0.2);
  height: 1em;
  border-radius: 4px;
  animation: skeleton-glow 1s linear infinite alternate;
}

@keyframes skeleton-glow {
  from {
    background: rgba(206, 217, 224, 0.2);
  }
  to {
    background: rgba(92, 112, 128, 0.2);
  }
}
